<!DOCTYPE html>
<html>
    <head>
        <title>Trailfolio</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>

        <% flash.each do |key, value| %>
            <%= content_tag :div, id: "flash", class: "alert alert-#{key} alert-info", role: "alert", data: { dismiss: "alert" } do %>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= value %>
            <% end %>
        <% end %>

        <%= yield %>

    </body>
</html>
